.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
  }
  
  input {
    width: 220px;
  }
  
  .search-inner {
    display: flex;
  }

  .dropdown-select {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #444;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  .dropdown-select:focus,
  .dropdown-select:hover {
    border-color: #0077cc;
  }
  
  .dropdown-select option {
    font-size: 16px;
    background-color: #fff;
    color: #444;
  }
  
  .dropdown-select option:hover {
    background-color: #0077cc;
    color: #fff;
  }
  
  